@use 'variables' as *;

/* HEADER */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.logo-container {
  width: 8%;
}

.logo {
  width: 100%;
}

.logo img{
  width: 100%;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.login-btn {
  background: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

/* BOTON */


/* FOOTER */
footer {
  width: 100%;
  background: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contenedor_superior {
  display: flex;
  justify-content: center;

}

.img_descripcion {
  width: 18%;
}

.imagen {
  width: 100%;
}

.imagen .img_logo {
  width: 100%;
}

.descripcion_f {
  width: 90%;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 3.5%;
  color: #fff !important;
}

.categoria2 {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria2 a {
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

.ayuda {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ayuda a {
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

.terminos_condiciones {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terminos_condiciones a {
  text-decoration: none;
  color: #fff;
}

.terminos_f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terminos_f a{
  font-size: .9rem;
}

.redes_sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.img_footer {
  width: 16%;
}

.copy_paises {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy_paises .paises img{
  width: 15%;
}

.descricion_footer{
  margin: 0;
  text-align: justify;
  color: #fff !important;
  font-size: .9rem;
}

.img_redes{
  width: 80%;
  filter: invert(1) sepia(1) saturate(100%);
}
