/* Error: expected "{".
 *     ,
 * 884 | >>>>>>> 5c1f453e040fce94059cd26c24b831bc9c5a8256
 *     |                                                 ^
 *     '
 *   src\public\styles\adminhf.scss 884:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 884 \2502  >>>>>>> 5c1f453e040fce94059cd26c24b831bc9c5a8256\d\a     \2502                                                  ^\a     \2575 \a   src\\public\\styles\\adminhf.scss 884:49  root stylesheet';
}
