<div class="banner_remates2" id="banner_remates">
    <div id="banner" class="overlay">
        <h1>REMATES</h1>
    </div>
</div>


<div class="prueva1">
    <!-- tarjeta v1 -->

    <div class="card">

        <div class="image-container">
            <img class="foto_casa"
                src="https://uiparadox.co.uk/public/templates/realtor/v2/assets/media/properties/property-1.png"
                alt="House Image">
            <a href="#" class="etiqueta_imagen">mas informacion</a>
            <img class="info_img" src="/img/imagen_pequeña_casa.png" alt="">
            <h6 class="info_img_tex">en venta</h6>
        </div>
        <a class="enlaces_carta" href="#">
            <div class="card-content">
                <h2>casa de campo</h2>
                <p class="address">110 hola mundo, nose donde queda</p>
                <p class="price">$90,000</p>
                <p class="details">4 habitacion | 2 Baños | 360 metros</p>
            </div>
        </a>
    </div>


    <section id="chat">
        <ul id="messages"></ul>
        <form id="form">
            <input type="number" name="message" id="input" placeholder="type a message" autocomplete="off" />
            <button type="submit">enviar</button>
            <input type="number" name="message" id="input" placeholder="type a message" autocomplete="off" />
            <button type="submit">enviar</button>
        </form>
    </section>
    <script type="module">
        import { io } from 'https://cdn.socket.io/4.3.2/socket.io.esm.min.js'
    
        const socket = io()
    
        const form = document.getElementById('form')
        const input = document.getElementById('input')
        const messages = document.getElementById('messages')
    
        socket.on('chat-message', (msg) => {
            const item = `<li>${msg}</li>` // Uso de backticks para interpolación
            messages.insertAdjacentHTML('beforeend', item)
        })
    
        form.addEventListener('submit', (e) => { // Evento correcto: "submit"
            e.preventDefault()
    
            if (input.value) {
                socket.emit('chat-message', input.value)
                input.value = ''
            }
        })
    </script>
    