<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REMAJUD ERROR503</title>
    <link rel="stylesheet" href="/css/errores/errores.css">
    <!-- CDN DE ICONOS REMIX -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- ESTILOS GLOBALES -->
    <link rel="stylesheet" href="/css/globales/globales.css">
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="container_errores">
       
            <h1 class="error">503 - El servicio está temporalmente fuera de línea debido a mantenimiento o alta
                demanda.</h1>
            <p class=" causas_error"> Por favor, inténtalo nuevamente en unos minutos.</p>
            <a href="/" class="btn_errores">Volver al Inicio</a>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>