    <div class="container_errores">
        
            <h1 class="error">502 - Hubo un problema de comunicación entre servidores.</h1>
            <p class=" causas_error"> Estamos trabajando para
                resolverlo. Por favor, vuelve a intentarlo más tarde.</p>
            <a href="/" class="btn_errores">Volver al Inicio</a>
    </div>