<div class="container_errores">

  <h1 class="error">401 - No tienes acceso a este recurso. </h1>
  <p class=" causas_error"> Por favor, inicia sesión para continuar.</p>
  <a href="/" class="btn_errores">Volver al Inicio</a>
</div>