<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REMAJUD ERROR304</title>
    <link rel="stylesheet" href="/src/public/css/errores/errores.css">
</head>

<body>
    <div class="container">
        <h1 class="error">304 -Parece que no hay cambios nuevos en el contenido que solicitaste.</h1>
        <p class=" causas_error"> No te preocupes, puedes seguir navegando normalmente. 
            Si necesitas actualizar la página, recarga el navegador.</p>
        <a href="/" class="btn">Volver al Inicio</a>
    </div>
</body>

</html>