<div class="container_errores">

    <h1 class="error">204 - No hay contenido para mostrar en este momento.</h1>
    <p class=" causas_error"> Intenta realizar una nueva búsqueda o vuelve más tarde para ver actualizaciones.
    </p>
    <a href="/" class="btn_errores">Volver al Inicio</a>
</div>