
    <div class="container_errores">
       
        <h1 class="error">304 -Parece que no hay cambios nuevos en el contenido que solicitaste.</h1>
        <p class=" causas_error"> No te preocupes, puedes seguir navegando normalmente. 
            Si necesitas actualizar la página, recarga el navegador.</p>
        <a href="/" class="btn_errores">Volver al Inicio</a>
    </div>
 