<div class="container_errores">

  <h1 class="error">400 - Tu solicitud no pudo ser procesada debido a un problema técnico.</h1>
  <p class=" causas_error"> Por favor, revisa
    los datos que ingresaste o inténtalo de nuevo más tarde.</p>
  <a href="/" class="btn_errores">Volver al Inicio</a>
</div>