        <div class="container_errores">

            <h1 class="error">500 - Ups, algo salió mal en nuestro lado</h1>
            <p class=" causas_error">Estamos trabajando para solucionar el problema lo más pronto posible.
                Por favor, intenta de nuevo en unos momentos.
                Si el error persiste, contáctanos para ayudarte.</p>
            <a href="/" class="btn_errores">Volver al Inicio</a>
        </div>