<link rel="stylesheet" href="/css/auction_detail/auction_detail.css">

<!--  -->

<div class="auction-filters mb-4">
    <form action="/remates" method="GET" class="row g-3">
        <div class="col-md-3">
            <label for="categoria" class="form-label">Categoría</label>
            <select class="form-select" id="categoria" name="categoria">
                <option value="">Todas</option>
                <option value="departamento">Departamento</option>
                <option value="casa">Casa</option>
                <option value="terreno">Terreno</option>
                <!-- Más opciones -->
            </select>
        </div>
        <div class="col-md-3">
            <label for="precio_min" class="form-label">Precio Mínimo</label>
            <input type="number" class="form-control" id="precio_min" name="precio_min">
        </div>
        <div class="col-md-3">
            <label for="precio_max" class="form-label">Precio Máximo</label>
            <input type="number" class="form-control" id="precio_max" name="precio_max">
        </div>
        <div class="col-md-3">
            <label for="ubicacion" class="form-label">Ubicación</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </form>
</div>

<div class="row">
    <% auctions.forEach(auction => { %>
        <div class="col-md-4 mb-4">
        </div>
    <% }); %>
</div>