<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>RemajuD</h5>
                <p>Tu plataforma confiable para subastas de inmuebles</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-light">Sobre Nosotros</a></li>
                    <li><a href="/contacto" class="text-light">Contacto</a></li>
                    <li><a href="/terms" class="text-light">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li>Email: info@remajud.com</li>
                    <li>Teléfono: (01) 123-4567</li>
                </ul>
            </div>
        </div>
    </div>
</footer>