<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRORES</title>
    <link rel="stylesheet" href="/css/errores_layouts/errores_layouts.css">
    <!-- estilos errores -->
    <link rel="stylesheet" href="/css/errores/errores.css">
    <!-- CDN DE ICONOS REMIX -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- ESTILOS GLOBALES -->
    <link rel="stylesheet" href="/css/globales/globales.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <main class="">
            <%- include('../'+ errores) %>
        </main>

           
</body>

</html>